<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Login</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/blog/feeds/rss/">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="/blog/feeds/atom/">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome-4.7.0/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <script src="{% static "js/jquery-1.8.3.min.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/bootstrap-extras.js" %}"></script>
    <script src="{% static "js/csrf.js" %}"></script>
    <script src="{% static "js/echarts.js" %}"></script>
    <script src="{% static "js/dataTool.js" %}"></script>
    <script src="{% static "js/shine.js" %}"></script>
</head>
<body class="login">
<div class="login-header">&nbsp;</div>
<div class="login-word">Reset your password</div>
<div>&nbsp;</div>
<div id="reset-form" class="login-form-custom" style="width:340px">
    <div>&nbsp;</div>
    <dl class="form-group" style="margin-top: 0;">
        <dt>
            <label style="margin-bottom: 5px;" for="username">Enter your username</label>
        </dt>
        <dd>
            <input tabindex="1" id="username" class="form-control" name="username" value="" placeholder="Username" type="text" required>
        </dd>
    </dl>
    <dl class="form-group" style="margin-top: 0;">
        <dt>
            <label style="margin-bottom: 5px;" for="email">Enter your email address</label>
        </dt>
        <dd>
            <input tabindex="2" id="email" class="form-control" name="email" value="" placeholder="Email address" type="text" onblur="return checkUser()" required>
        </dd>
    </dl>
    <dl id="loading" class="form-group" style="margin-top: 0;display: none">
        <dt id="loading_t" style="color: #2a6496">
           <i class="fa fa-spinner fa-pulse fa-fw"></i>
        </dt>
    </dl>
    <div id="show" style="display: none">
        <dl class="form-group" style="margin-top: 0;">
            <dt>
                <label style="margin-bottom: 5px;" for="new_password">Enter your new password</label>
            </dt>
            <dd>
                <input tabindex="3" id="new_password" class="form-control" name="new_password" value="" placeholder="New password" type="password" required>
            </dd>
        </dl>
        <dl class="form-group" style="margin-top: 0;">
            <dt>
                <label style="margin-bottom: 5px;" for="confirm_password">Enter your password again</label>
            </dt>
            <dd>
                <input tabindex="4" id="confirm_password" class="form-control" name="confirm_password" value="" placeholder="Confirm password" type="password" onblur="return checkPassword();" required>
            </dd>
        </dl>
        <dl id="error_pwd" class="form-group" style="margin-top: 0;display:none;">
            <dt style="color: red">Entered passwords differ!</dt>
        </dl>
    </div>
    <button id="reset_pwd" class="btn btn-primary btn-lg btn-block" type="submit" style="display: none" onclick="resetPassword()">Reset password</button>

</div>
<div>&nbsp;</div>
<div class="login-footer">
    <p id="reset-success"style="padding-bottom: 0;color: green;font-weight: 700;display: none">Password reset successfully!</p>
    <p id="login1" style="padding-top:0;padding-bottom: 0;display: none">Here to <a href="/login">Login</a>.</p>
    <p id="login2" style="padding-bottom: 0">Here to <a href="/login">Login</a>.</p>
    <p style="padding-top: 0">Here to <a href="/">Home</a> page.</p>
</div>
</body>

<script>
    //检查用户是否存在，且邮箱正确
    function checkUser() {
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        var username=$('#username').val();
        var email=$('#email').val();
        $('#loading').show();
        $.ajax({
            type:"post",
            //url:"/postRefDoi",
            //url:"/vis/ref",
            url:"/check/user",
            data:{
                username:username,
                email:email
            },
            error:function () {
                alert("Failed！");
                $('#loading_t').empty();
                $('#loading_t').attr('style','color:#28A745');
                $('#loading_t').html('Request failed!')
            },
            success:function (ret) {
                //alert("Successed！");
                if(ret=='ok') {
                    $('#loading_t').empty();
                    $('#loading_t').attr('style','color:#28A745');
                    $('#loading_t').html('User authentication passed!');
                    $('#username').attr('disabled',true);
                    $('#email').attr('disabled',true);
                    $('#show').show();
                }else{
                    $('#loading_t').empty();
                    $('#loading_t').attr('style','color:#FF0000');
                    $('#loading_t').html('User authentication failed! <br>Please input again.')
                }
            }
        });
    }

    //检验密码输入一致
    function checkPassword() {
        var pwd1=$('#new_password').val();
        var pwd2=$('#confirm_password').val();
        if(pwd1!=pwd2){
            $('#error_pwd').show();
            $('#reset_pwd').hide();
        }else{
            $('#error_pwd').hide();
            $('#reset_pwd').show();
        }
    }

    //重置密码
    function resetPassword() {
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        var username=$('#username').val();
        var email=$('#email').val();
        var password=$('#new_password').val();
        $.ajax({
            type:"post",
            url:"/password_reset",
            data:{
                username:username,
                email:email,
                password:password
            },
            error:function () {
                alert("Password reset failed!");
            },
            success:function (ret) {
                alert("Password reset successful!");
                $('#reset-form').hide();
                $('#login2').hide();
                $('#reset-success').show();
                $('#login1').show();
            }
        });
    }
</script>
</html>