{% extends "base.html" %}

{% block  complete %}Your password{% endblock %}

{% block jumbotron %}
    <div class="container">
        <div>&nbsp;</div>
        <div class="row font-en">
            <div class="col-md-1"></div>
            <div class="col-md-2" style="float: left!important">
                <nav class="menu">
                    <h3 class="menu-heading">Personal settings</h3>
                    <div class="menu-item"><a href="/indiv/{{ request.user.username }}/profile/">Profile</a></div>
                    <div class="menu-item selected">Password</div>
                </nav>
            </div>
            <div id="password_form" class="col-md-6">
                <div style="margin-left: 15px">
                    <h2 class="page-header">Password</h2>
                    <dl id="success" class="form-group" style="display: none">
                        <dt>
                            <span style="font-weight: 600!important;color: rgb(31, 166, 122)">Password modified successfully!</span>
                        </dt>
                    </dl>
                    <dl id="fail" class="form-group" style="display: none">
                        <dt>
                            <span style="font-weight: 600!important;color: red">Password modification failed!</span>
                        </dt>
                    </dl>
                    <dl class="form-group">
                        <dt>
                            <label for="name" style="font-weight: 600!important;">Name</label>
                        </dt>
                        <dd>
                            <input id="name" class="form-control" name="name" value="{{ request.user.username }}" placeholder="{{ request.user.username }}" type="text" disabled>
                        </dd>
                    </dl>
                    <dl class="form-group">
                        <dt>
                            <label for="email" style="font-weight: 600!important;">Email</label>
                        </dt>
                        <dd>
                            <input id="email" class="form-control" name="email" value="{{ request.user.email }}" placeholder="{{ request.user.email }}" type="text" disabled>
                        </dd>
                    </dl>
                    <dl class="form-group">
                        <dt>
                            <label for="old_password" style="font-weight: 600!important;">Password</label>
                        </dt>
                        <dd>
                            <input id="old_password" class="form-control" name="old_password" value="" placeholder="" type="password" onblur="checkPassword()">
                        </dd>
                    </dl>
                    <dl id="loading" class="form-group" style="margin-top: 0;display: none">
                        <dt id="loading_t" style="color: #2a6496">
                           <i class="fa fa-spinner fa-pulse fa-fw"></i>
                        </dt>
                    </dl>
                    <div id="show" style="display: none">
                        <dl class="form-group" style="margin-top: 0;">
                            <dt>
                                <label style="margin-bottom: 5px;" for="new_password">Enter your new password</label>
                            </dt>
                            <dd>
                                <input id="new_password" class="form-control" name="new_password" value="" placeholder="New password" type="password" required>
                            </dd>
                        </dl>
                        <dl class="form-group" style="margin-top: 0;">
                            <dt>
                                <label style="margin-bottom: 5px;" for="confirm_password">Enter your password again</label>
                            </dt>
                            <dd>
                                <input id="confirm_password" class="form-control" name="confirm_password" value="" placeholder="Confirm password" type="password" onblur="return checkNewPassword();" required>
                            </dd>
                        </dl>
                        <dl id="error_pwd" class="form-group" style="margin-top: 0;display:none;">
                            <dt style="color: red">Entered passwords differ!</dt>
                        </dl>
                    </div>
                    <div id="reset_pwd" class="display-none">
                        <dl class="form-group mg-t-0">
                            <button class="btn btn-success btn-lg btn-block" type="submit" onclick="modifyPassword()">Modify password</button>
                        </dl>
                    </div>
                </div>
            </div>
            <div id="success_form" class="col-md-6" style="margin-left: 15px;display: none">
                <h2 class="page-header">Password</h2>
                <dl id="success" class="form-group">
                    <dt>
                        <span style="font-weight: 600!important;color: rgb(31, 166, 122)">Password modified successfully!</span>
                    </dt>
                </dl>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>

<script>
    //检查用户密码是否正确
    function checkPassword() {
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        var username=$('#name').val();
        var password=$('#old_password').val();
        $('#loading').show();
        $.ajax({
            type:"post",
            url:"/check/password",
            data:{
                username:username,
                password:password
            },
            error:function () {
                alert("Failed！");
                $('#loading_t').empty();
                $('#loading_t').attr('style','color:#28A745');
                $('#loading_t').html('Request Failed!')
            },
            success:function (ret) {
                //alert("Successed！");
                if(ret=='ok') {
                    $('#loading_t').empty();
                    $('#loading_t').attr('style','color:#28A745');
                    $('#loading_t').html('User Authentication Passed!');
                    $('#password').attr('disabled',true);
                    $('#show').show();
                    footerPosition();
                    $(window).resize(footerPosition);
                }else{
                    $('#loading_t').empty();
                    $('#loading_t').attr('style','color:#FF0000');
                    $('#loading_t').html('User Authentication Failed! <br>Please input again.')
                }
            }
        });

    }

    //检查新密码一致
    function checkNewPassword() {
        var pwd1=$('#new_password').val();
        var pwd2=$('#confirm_password').val();
        if(pwd1!=pwd2){
            $('#error_pwd').show();
            $('#reset_pwd').hide();
        }else{
            $('#error_pwd').hide();
            $('#reset_pwd').show();
        }
        footerPosition();
        $(window).resize(footerPosition);
    }

    //重置密码
    function modifyPassword() {
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        var username=$('#name').val();
        var email=$('#email').val();
        var password=$('#new_password').val();
        $.ajax({
            type:"post",
            url:"/password_modify",
            data:{
                username:username,
                email:email,
                password:password
            },
            error:function () {
                alert("Password modify failed!");
            },
            success:function (ret) {
                alert("Password modify successful!");
                $('#password_form').hide();
                $('#success_form').show();
                footerPosition();
                $(window).resize(footerPosition);
            }
        });
    }
</script>

<script>
//调整footer
function footerPosition(){
      $("#footer").removeClass("fixed-bottom");
      var contentHeight = document.body.scrollHeight,//网页正文全文高度
          winHeight = window.innerHeight;//可视窗口高度，不包括浏览器顶部工具栏
      if(!(contentHeight > winHeight)){
          //当网页正文高度小于可视窗口高度时，为footer添加类fixed-bottom
          $("#footer").addClass("fixed-bottom");
      } else {
          $("#footer").removeClass("fixed-bottom");
      }
    }
</script>
{% endblock %}
