<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Register</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/blog/feeds/rss/">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="/blog/feeds/atom/">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome-4.7.0/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <script src="{% static "js/jquery-1.8.3.min.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/bootstrap-extras.js" %}"></script>
    <script src="{% static "js/echarts.js" %}"></script>
    <script src="{% static "js/dataTool.js" %}"></script>
    <script src="{% static "js/shine.js" %}"></script>
</head>
<body class="login">
<div class="login-header">&nbsp;</div>
<div class="login-word">Sign up to VisRef</div>
<div>&nbsp;</div>
<div class="login-form-custom" style="width:340px">
    <div>&nbsp;</div>
    <form method='post' accept-charset="UTF-8">
        {% csrf_token %}
        <dl class="form-group" style="margin-top: 0;">
            <dt>
                <label style="margin-bottom: 5px;" for="username">Username</label>
            </dt>
            <dd>
                <input id="username" class="form-control" name="username" value="" placeholder="Pick a username" type="text" required onblur="checkUsername()">
            </dd>
        </dl>
        <dl id="name-check" class="form-group" style="margin-top: 0;display: none">
            <dt id="name-alert" style="color: #2a6496">
               <i class="fa fa-spinner fa-pulse fa-fw"></i>
            </dt>
        </dl>
        <dl class="form-group" style="margin-top: 0;">
            <dt>
                <label style="margin-bottom: 5px;" for="email">Email</label>
            </dt>
            <dd>
                <input id="email" class="form-control" name="email" value="" placeholder="Pick a email" type="email" required onblur="checkEmail()">
            </dd>
        </dl>
        <dl id="email-check" class="form-group" style="margin-top: 0;display: none">
            <dt id="email-alert" style="color: #2a6496">
               <i class="fa fa-spinner fa-pulse fa-fw"></i>
            </dt>
        </dl>
        <dl class="form-group" style="margin-top: 0;">
            <dt>
                <label style="margin-bottom: 5px;" for="password">Password</label>
            </dt>
            <dd>
                <input id="password" class="form-control" name="password" value="" placeholder="Pick a password" type="password" required>
            </dd>
        </dl>
        <dl class="form-group" style="margin-top: 0;">
            <dt>
                <label style="margin-bottom: 5px;" for="confirm-password">Password</label>
            </dt>
            <dd>
                <input id="confirm-password" class="form-control" name="confirm-password" value="" placeholder="Confirm your password" type="password" required onblur="checkPassword()">
            </dd>
        </dl>
        <dl id="error-pwd" class="form-group" style="margin-top: 0;display:none;">
            <dt style="color: red">Entered passwords differ!</dt>
        </dl>
        <button id="sign-up" class="btn btn-primary btn-lg btn-block" type="submit">Sign up</button>
    </form>
</div>
<div>&nbsp;</div>
<div class="login-footer">
    <p style="padding-bottom: 0">Here to <a href="/login">Login</a>.</p>
    <p style="padding-top: 0">Here to <a href="/">Home</a> page.</p>
</div>
</body>

<script>
    //检查用户名是否被占用
    function checkUsername() {
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        var username=$('#username').val();
        $('#name-check').show();
        if(username==''){
            $('#name-alert').empty();
            $('#name-alert').attr('style', 'color:#FF0000');
            $('#name-alert').html('Username can not be null!');
        }else {
            $.ajax({
                type: "post",
                url: "/check/username",
                data: {
                    username: username
                },
                error: function () {
                    $('#name-alert').empty();
                    $('#name-alert').attr('style', 'color:#FF0000');
                    $('#name-alert').html('Request failed!');
                },
                success: function (ret) {
                    $('#name-alert').empty();
                    if (ret == 'inexisted') {
                        $('#name-alert').attr('style', 'color:#28A745');
                        $('#name-alert').html('Username available!');
                        //document.getElementById('sign-up').disabled=false;
                        $('#sign-up').attr('disabled', false);
                    } else {
                        $('#name-alert').attr('style', 'color:#FF0000');
                        $('#name-alert').html('Username has been occupied!');
                        //document.getElementById('sign-up').disabled=true;
                        $('#sign-up').attr('disabled', true);
                    }
                }
            })
        }
    }

    //检查邮箱是否被占用,以及地址是否合法
    function checkEmail() {
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        var flag="";
        var email=$('#email').val();
        $('#email-check').show();
        $('#email-alert').empty();
        var apos=email.indexOf("@",1);
        if(apos==-1) {
            $('#email-alert').attr('style', 'color:#FF0000');
            $('#email-alert').html('Email address illegal!');
        }
        else if(email.indexOf(".",apos+2)==-1){
            $('#email-alert').attr('style', 'color:#FF0000');
            $('#email-alert').html('Email address illegal!');
        }
        else {
            $.ajax({
                type: "post",
                url: "/check/email",
                data: {
                    email: email
                },
                error: function () {
                    $('#email-alert').attr('style', 'color:#FF0000');
                    $('#email-alert').html('Request failed!');
                },
                success: function (ret) {
                    if (ret == 'inexisted') {
                        $('#email-alert').attr('style', 'color:#28A745');
                        $('#email-alert').html('Email available!');
                        $('#sign-up').attr('disabled', false);
                    } else {
                        $('#email-alert').attr('style', 'color:#FF0000');
                        $('#email-alert').html('Email has registered!');
                        $('#sign-up').attr('disabled', true);
                    }
                }
            })
        }
    }

    //检查两次密码是否输入一致
    function checkPassword() {
        var pwd1=$('#password').val();
        var pwd2=$('#confirm-password').val();
        if(pwd1!=pwd2){
            $('#error-pwd').show();
            $('#sign-up').attr('disabled',true);
        }else{
            $('#error-pwd').hide();
            $('#sign-up').attr('disabled',false);
        }
    }
</script>
</html>