{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block sea_navbar %}
    <li class="active" id="dropdown-menu-search"><a href="/search/"><i class="fa fa-search fa-fw"></i>Search</a></li>
{% endblock %}

{% block header %}
    {% if results %}
     <div>&nbsp;</div>
    {% else %}
    <div style="height: 80px;">&nbsp;</div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <h1 class="font-museo ta-c"><i class="fa fa-search fa-fw"></i><b>Search </b></h1>
            <div class="row jumbotron-search ta-c">
                <div class="col-md-12">
                    <form action="/search/" method="get">
                        <span class="search-style">
                            <i class="fa fa-search fa-fw search-icon"></i>
                            <input id="search" class="form-control form-custom" name="search" value="{{ keyword }}" type="text" placeholder="Search VisRef" required>
                        </span>
                        <span>
                            <button type="submit" class="button-custom" title="" >Search&nbsp;</i>
                            </button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if results %}
    <div class="content-underlay"></div>
    <div class="container">
        <section class="search-section" style="background-color: rgb(245,245,245)">
            <h2 class="page-header font-en">Search Result of "<b> {{ keyword }} </b>"</h2>
            <div class="font-en">
                {% load pagination_tags %}
                {% autopaginate results 10 %}
                    {% for content in results %}
                        <div class="row">
                            <div class="col-md-10">
                                <div class="row"><div class="col-md-12"><a href="{{ content.link }}" target="_blank">{{ content.title }}</a></div></div>
                                <div class="row"><div class="col-md-12">{{ content.doi }}</div></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {% if content.sea_type != "Unknown" %}
                                            <b>{{ content.sea_type }}</b>&nbsp;published&nbsp;
                                        {% endif %}
                                        {% if content.time != "Unknown" %}
                                            <b>{{ content.time }}</b>&nbsp;
                                        {% endif %}
                                        {% if content.publisher != "Unknown" %}
                                            in&nbsp;<b>{{ content.publisher }}</b>&nbsp;
                                        {% endif %}
                                        {% if content.volume != "Unknown" %}
                                            is referenced by&nbsp;<b>{{ content.volume }}</b>&nbsp;times
                                        {% endif %}
                                        {% if content.page_from != "Unknown" %}
                                            on pages&nbsp;<b>{{ content.page_from }}</b>&nbsp;
                                        {% endif %}
                                    </div>
                                </div>
                                {% if content.author != 'Unknown' and content.author != '' %}
                                <div class="row"><div class="col-md-12">Authors: {{ content.author }}</div></div>
                                {% endif %}
                            </div>
                        <!--
                            <div class="col-md-2"><a href="/summary/?summary={{ content.doi }}" target="_blank">>>Summary</a></div>
                            -->
                            <div class="col-md-2"><a href="#" onclick="url_process('{{ content.doi }}')">>>Summary</a></div>
                        </div>
                        <hr>
                    {% endfor %}
                {% paginate %}
            </div>
        </section>
    </div>
    {% else %}
    {% endif %}

<script>
function url_process(doi) {
    //alert(doi);
    var p_doi=doi.replace(new RegExp(';','gm'),'%3B');
    var url="/summary/?summary=" +p_doi;
    //alert(url);
    window.open(url);
}
</script>
{% endblock %}