{% if request.user.is_authenticated %}
<ul class="nav navbar-nav navbar-right font-en">
    <li class="dropdown" id="usr"><a href="#" class="dropdown-toggle disabled" data-toggle="dropdown">
        <i class="fa fa-user fa-fw"></i>{{ request.user.username }}
        <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="sign-facet-li">Signed in as</li>
            <li class="sign-facet-li" style="font-weight: 600">{{ request.user.username }}</li>
            <li class="divider"></li>
            <li class="" id="usr-profile"><a href="/indiv/{{ request.user.username }}/profile/">Your profile</a></li>
            <li class="" id="usr-stars"><a href="/indiv/{{ request.user.username }}/stars/">Your stars</a></li>
            <li class="divider"></li>
            <li class="" id="logout"><a href="/logout">Sign out</a></li>
        </ul>
    </li>
</ul>
{% else %}
<ul class="nav navbar-nav navbar-right">
    <li>
        <span><a href="/login">Sign in</a><span style="color: white"> or </span><a href="/register">Sign up</a></span>
    </li>
</ul>
{% endif %}
