{% extends "base.html" %}

{% block title %}Summary{% endblock %}

{% block sum_navbar %}
<li class="active" id="summary"><a href="/summary/"><i class="fa fa-file-text-o fa-fw"></i>Summary</a></li>
{% endblock %}

{% block jumbotron %}
<div class="jumbotron jumbotron-custom green" id="hide">
    <div class="container">
        <div style="height: 80px;">&nbsp;</div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="font-museo ta-c"><i class="fa fa-file-text-o fa-fw"></i><b>Summary </b></h1>
                <div class="row jumbotron-search ta-c">
                    <div class="col-md-12">
                        <form action="/summary/" method="get">
                            <span class="search-style">
                                <i class="fa fa-file-text-o fa-fw search-icon"></i>
                                <input id="summary" class="form-control form-custom" name="summary" value="{{ keyword }}" type="text" placeholder="Enter DOI, e.g., 10.1038/nature11003" required>
                            </span>
                            <span>
                                <button type="submit" class="button-custom" title="" >Summary&nbsp;</i>
                                </button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="show-1" class="display-none">
    <div class="jumbotron jumbotron-custom green font-en">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ta-c">
                    {% if request.user.is_authenticated %}
                    <i id="like" class="fa fa-id-card-o fa-6 hover-like" style="font-size: 280px" aria-hidden="true" onclick="like()"></i>
                    {% else %}
                    <i id="like" class="fa fa-id-card-o fa-6" style="font-size: 280px" aria-hidden="true"></i>
                    {% endif %}
                </div>
                <div class="col-md-6 ta-l">
                    <div class="summary-facet-hint">DOI: <span id="doi"></span></div>
                    <div class="summary-facet-hint">Publisher: <span id="publisher"></span></div>
                    <div class="summary-facet-hint">Cited: <span id="cited"></span></div>
                    <div class="summary-facet-hint">Reference: <span id="subject"></span></div>
                    <div class="summary-facet-hint">Author: <span id="author"></span></div>
                    <div class="summary-facet-hint">Link: <a href="#" target="_blank" id="link"></a></div>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-md-12">
                    <span class="summary-facet-title" id="title"></span>
                    <span class="summary-facet-subtitle">
                        &nbsp;&nbsp;<span class="summary-facet-subtitle" id="date"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="show-2" class="display-none shallow-grey">
    <div class="container font-en">
        <h2 class="page-header" id="ref">Summary Information</h2>
        <div class="row mg-b-60">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget-custom font-en" style="margin-bottom: 0px">
                            <h4 class="title-custom">In summary</h4>
                            <p id="top-subject" class="display-none">Top <span id="sn"></span> preferenced journals of</p>
                            <p><span class="content-custom" id="journsl-title">Loading...</span><b> : </b></p>
                            <p>
                                <span class="content-custom display-none" id="journal-subject-0">Loading...</span>,
                                <span class="content-custom display-none" id="journal-subject-1">Loading...</span> <span id="and" class="display-none">and</span>
                                <span class="content-custom display-none" id="journal-subject-2">Loading...</span>.
                            </p>
                            <p>In the year of <span class="content-custom" id="journal-year">Loading...</span>,&nbsp;</p>
                            <p>it has the greatest impact on <span class="content-custom" id="journal-field">Loading...</span>.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget-custom font-en">
                            <h4 class="title-custom">Citation<a id="cit-more" style="float: right;font-size: 14px" href="#" target="_blank">>>More</a></h4>
                            <div id="cit-nail" style="width: 100%;height: 200px"></div>
                            <div id="no-cit" style="width: 100%;height: 200px" class="ta-c display-none">
                                <span style="position:absolute;top:45%;left:30%;font-size:18px;font-weight:500;">No Citation Information</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget-custom font-en">
                            <h4 class="title-custom">Reference<a id="ref-more" style="float: right;font-size: 14px" href="#" target="_blank">>>More</a></h4>
                            <div id="ref-nail" style="width: 100%;height: 500px"></div>
                            <div id="no-ref" style="width: 100%;height: 500px" class="ta-c display-none">
                                <span style="position:absolute;top:45%;left:30%;font-size:18px;font-weight:500;">No Reference Information</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var doi={{ doi|safe }};
    //alert(doi);
    if(doi!='DoiError' && doi!='TitleError') {
        $('#hide').hide();
        $('#show-1').show();
        $('#show-2').show();
        //file_id为文件名，number类型，需要转成字符串类型
        var file_id={{ file_id|safe }};
        //alert(typeof(file_id));
        var filename=file_id.toString();
        var ref_file = '/media/ref/' + filename + '.json';
        var cit_file = '/media/cit/' + filename + '.json';
        var info_file = '/media/info/' + filename + '.json';
        // 基于准备好的dom，初始化echarts实例
        var refChart = echarts.init(document.getElementById('ref-nail'), 'shine');
        var citChart = echarts.init(document.getElementById('cit-nail'));
        refChart.showLoading();
        citChart.showLoading();
        $.getJSON(ref_file, function (json) {
            //处理作者名，大于三个作者，只显示三个
            var info_author=json['info']['author'];
            if(typeof(info_author) != "undefined") {
                var alist = info_author.split(',');
                if (alist.length > 3) {
                    info_author = alist[0] + ', ' + alist[1] + ', ' + alist[2] + ' ...'
                }
            }else{
                info_author="Unknown";
            }

            $('#doi').html(json['info']['doi']);
            //查看cit和ref详情的链接
            var cit_more='/vis/cit/'+json['info']['doi'];
            var ref_more='/vis/ref/'+json['info']['doi'];
            $('#cit-more').attr('href',cit_more);
            $('#ref-more').attr('href',ref_more);

            //简要基本信息
            $('#title').html(json['info']['title']);
            $('#date').html(json['info']['date']);
            $('#publisher').html(json['info']['publisher']);
            $('#cited').html(json['info']['cited']);
            $('#author').html(info_author);
            $('#subject').html(json['info']['subject']);
            $('#link').html(json['info']['link']);
            $('#link').attr('href',json['info']['link']);

            //In summary里的title
            $('#journsl-title').html(json['info']['title']);
            //In summary里的subject信息
            var subjects_temp=[];
            var subjects=[];
            $.each(json.statistics.count,function (subject,num) {
                subjects_temp.push({
                    'subject':subject,
                    'num':num
                });
            });
            //从小到大排
            subjects_temp.sort(bigToSmall('num'));
            var subject_count=json['statistics']['subjectCount'];
            if(subject_count>20){
                subjects=subjects_temp.slice(0,20);
            }else{
                subjects=subjects_temp;
            }

            //subject数量分别为0,1,2以及大于3的情况
            var subjectNum=subjects.length;
            if(subjectNum>3){
                var snum=3;
            }else{
                var snum=subjectNum;
            }

            if(subjectNum != 0){
                $('#top-subject').show();
                $('#sn').html(snum);
                $('#journal-subject-0').show();
                $('#journal-subject-0').html(subjects[0]['subject']+'('+subjects[0]['num']+')');
                $('#journal-field').html(subjects[0]['subject']);
            }
            if(subjectNum > 1){
                $('#journal-subject-1').show();
                $('#journal-subject-1').html(subjects[1]['subject']+'('+subjects[1]['num']+')');
            }
            if(subjectNum > 3){
                $('#and').show();
                $('#journal-subject-2').show();
                $('#journal-subject-2').html(subjects[2]['subject']+'('+subjects[2]['num']+')');
            }

            //从大到小
            subjects.reverse();

            var nodeNum=json['nodes'];
            if(nodeNum.length!=0){
                //设置ref信息显示图表
                ref_option = {
                tooltip : {
                    trigger: 'axis',
                    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                        type : 'line'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '3%',
                    top:'0%',
                    containLabel: true
                },
                xAxis : [
                    {
                        type : 'value'
                    }
                ],
                yAxis : [
                    {
                        type : 'category',
                        axisTick : {show: false},
                        data : $.map(subjects,function (content,index) {
                            return content['subject'];
                        })
                    }
                ],
                series : [
                    {
                        name:'reference',
                        type:'bar',
                        label: {
                            normal: {
                                show: true,
                                position: 'inside'
                            }
                        },
                        itemStyle:{
                            normal:{
                                color:'#64A6AE',
                                borderColor:'#fff',
                                borderWidth:3
                            },
                            emphasis:{
                                color:'#64A6AE',
                                borderWidth: 3,
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        },
                        data:$.map(subjects,function (content,index) {
                            return content['num'];
                        })
                    }
                ]
            };
                refChart.hideLoading();
                refChart.setOption(ref_option);
            }else{
                refChart.hideLoading();
                $('#ref-nail').hide();
                $('#no-ref').show();
            }


        });

        var start_date='';
        $.getJSON(info_file,function (json) {
            start_date=json['time'];
        });

        $.getJSON(cit_file, function (json) {
            var citation=[];
            //var start_date=json['info']['date'];
            var start_year=start_date.split('-')[0];
            //syear为出版年份
            var syear=parseInt(start_year);

            if(!jQuery.isEmptyObject(json['summary'])) {
                $.each(json.summary, function (year, cited) {
                    var cyear = parseInt(year);
                    if (cyear >= syear) {
                        citation.push({
                            'year': year,
                            'cited': cited['cited']
                        });
                    }
                });
                //设置cit信息显示图表
                citChart.hideLoading();
                citChart.setOption(option = {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    legend: {
                        data: ['Citation']
                    },
                    xAxis: {
                        data: $.map(citation, function (content, index) {
                            return content['year'];
                        })
                    },
                    yAxis: {
                        type: 'value',
                        splitLine: {
                            show: false
                        }
                    },
                    series: [{
                        name: 'Citation',
                        type: 'line',
                        data: $.map(citation, function (content, index) {
                            return content['cited'];
                        }),
                        stack: '引用信息',
                        smooth: false,
                        symbol: 'emptyCircle',
                        symbolSize: 6,
                        sampling: 'average',
                        itemStyle: {
                            normal: {
                                color: 'rgb(255, 70, 131)'
                            }
                        },
                        areaStyle: {
                            normal: {
                                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                    offset: 0,
                                    color: 'rgb(255, 158, 68)'
                                }, {
                                    offset: 1,
                                    color: 'rgb(255, 70, 131)'
                                }])
                            }
                        }
                    }]
                });
                //显示In summary年份信息
                citation.sort(bigToSmall('cited'));
                $('#journal-year').html(citation[0]['year']);
            }else{
                citChart.hideLoading();
                $('#cit-nail').hide();
                $('#no-cit').show();
                 $('#journal-year').html('Unknown');
            }
        });
    }
    //title转不成doi
    if(doi=='TitleError'){
        alert("Crossref haven't collected the record yet!");
    }
    //doi非法，可能是输入错误
    if(doi=='DoiError'){
        alert("Doi input error!");
    }
</script>

<script>
//收藏
function like() {
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    $.ajax({
        type:"post",
        url:"/star",
        data:{
            source:'Summary',
            doi:{{ doi|safe }}
        },
        error:function () {
            alert("Collection Failed!");
        },
        success:function (ret) {
            if(ret=='existed'){
                alert('You have already liked it!')
            }else{
                alert('Successful Collection!')
            }
            document.getElementById('like').setAttribute('style','font-size: 280px;color:#e36209');
        }
    });
}

//定义比较器，比较subjects num，从大到小排序
function bigToSmall(propertyName) {
    return function(object1, object2) {
      var value1 = object1[propertyName];
      var value2 = object2[propertyName];
      if (value2 < value1) {
        return -1;
        } else if (value2 > value1) {
        return 1;
        } else {
        return 0;
        }
    }
}

//定义比较器，比较subjects num，从大到小排序
function smallToBig(propertyName) {
    return function(object1, object2) {
      var value1 = object1[propertyName];
      var value2 = object2[propertyName];
      if (value2 < value1) {
        return 1;
        } else if (value2 > value1) {
        return -1;
        } else {
        return 0;
        }
    }
}
</script>
{% endblock %}